<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,254}</string>
                <key>spriteSourceSize</key>
                <string>{208,254}</string>
                <key>textureRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,254}</string>
                <key>spriteSourceSize</key>
                <string>{208,254}</string>
                <key>textureRect</key>
                <string>{{208,0},{208,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,254}</string>
                <key>spriteSourceSize</key>
                <string>{208,254}</string>
                <key>textureRect</key>
                <string>{{416,0},{208,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,254}</string>
                <key>spriteSourceSize</key>
                <string>{208,254}</string>
                <key>textureRect</key>
                <string>{{624,0},{208,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,254}</string>
                <key>spriteSourceSize</key>
                <string>{208,254}</string>
                <key>textureRect</key>
                <string>{{832,0},{208,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,254}</string>
                <key>spriteSourceSize</key>
                <string>{208,254}</string>
                <key>textureRect</key>
                <string>{{1040,0},{208,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>running.png</string>
            <key>size</key>
            <string>{1248,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eef7eef8b2db5a578ce014ae75fc4bd:69438b0234614eb18a169288351834d8:c6f54cd90e73bf73573beb07265492a6$</string>
            <key>textureFileName</key>
            <string>running.png</string>
        </dict>
    </dict>
</plist>
